@import '~@angular/material/theming';
@include mat-core();

$mark-mate-primary: mat-palette($mat-red, A700);
$mark-mate-accent: mat-palette($mat-red, A400);
$mark-mate-theme: mat-dark-theme($mark-mate-primary, $mark-mate-accent);
@include angular-material-theme($mark-mate-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: #fafafa; background-color: #000000;}
